:root {
    --main-input-text: Arial, Helvetica, sans-serif;
    --main-color: rgb(50, 61, 74);
}

.recipes__card {
    display: inline-block;
    justify-self: center;
    align-self: center;
    position: relative;
    width: 30%;
    margin: 20px;
    padding-bottom: 2.5rem;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    text-align: left;
    overflow: hidden;
    background-color: #fff;
}

.recipes__card-img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.recipes__text {
    margin-left: 15px;
}
  
.t-recipes__title {
    font-family: var(--main-input-text);
    /* color: #e38d84; */
    color: salmon;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1.8rem 0 0.2rem 0;
}
  
.t-recipes__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
  
.t-recipes__subtitle-span {
    text-transform: none;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.t-recipes__button {
    font-family: var(--main-input-text);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

.recipes__button {
    position: absolute;
    left: 65%;
    border: solid 1px var(--main-color);
    background: transparent;
    padding: 0.4rem 0.6rem;
    margin-bottom: 10px;
    border-radius: 1px;
    margin-left: 0.7rem;
}

.recipes__button:hover {
    transition: 0.2s;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    font-weight: 300;
}