:root {
    --main-input-text: Arial, Helvetica, sans-serif;
    --main-color: rgb(50, 61, 74);
}

.t-input-label {
    font-family: var(--main-input-text);
    font-size: 12px;
    font-weight: 300;
}

.App__input-form__input {
    border: none;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
}

.t-form-button {
    font-family: var(--main-input-text);
}

.App__input-form__button {
    padding: 5px;
    transition: 0.2s;
    border: none;
}

.App__input-form__button:hover {
    transition: 0.2s;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
}